html {
    margin-top: 20%
}

nav {
    display: flex;
    justify-content: space-around;
}

#subscribe {
    font-size: 13px;
}

.subscribe {
    color: grey;
}
h1 {
    display: inline;
    margin-top: 0;
    text-decoration: underline;
}

i {
    cursor: pointer;
}

.blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.blog-card {
    width: 30%;
    height: 150px;
    border: 4px solid rgb(219, 214, 214);
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 20px;
}

.break {
    flex-basis: 100%;
    width: 0;
}

.blog-card:hover {
    border: 1px solid #f5f5f5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

p {
    margin: 0;
}

.blog-footer-container {
    display: flex;
    justify-content: center;
}

.blog-footer-card {
    width: 76%;
    height: 75px;
    border: 1px solid black;
    text-align: center;
    background: #f5f5f5;
    border: none;
    border-top: 2px solid #ede8e8
}

.blog-title {
    font-weight:bolder;
    font-size: 20px
}

.blog-date {
    color: grey;
    font-size: 12px;
}

#box-1, #box-3, #box-5{
    margin-right: 10px;
}

#box-1 .blog-company{
    color: rgb(15, 79, 208);
}
#box-3 .blog-company{
    color: rgb(26, 96, 236);
}
#box-5 .blog-company{
    color: rgb(26, 96, 236);
}

#box-2, #box-4, #box-6{
    margin-left: 10px;
}

#box-2 .blog-company{
    color: rgb(15, 157, 60);
}
#box-4 .blog-company{
    color: rgb(15, 157, 60);
}
#box-6 .blog-company{
    color: rgb(15, 157, 60);
}

.blog-company {
    font-weight: bold ;
}

.blog-description {
    margin-bottom: 30px;
}

#box-1 .blog-description{
   margin-top: 20px;
}
#box-3 .blog-description{
    margin-top: 20px;
}
#box-5 .blog-description{
    margin-top: 20px;
}

#footer-description {
    margin-top: 20px;
    font-size: small;
    color: grey
}
 #footer-link {
     margin-top:10px;
     font-size: small;
 }

 @media (max-width: 742px) {
    

 }
 @media (max-width: 566px) {

 }
